{{define "artist"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {{template "header"}}
            <h1>{{.Result.Name}}</h1>
            <a href="/AddToFav/Artist?a={{.Result.Id}}">Ajouter aux favoris</a>
            {{range .TrackList.Tracks}}
            <div>
                <a href="/track?t={{.Id}}"><h3>{{.Title}}</h3></a>
                <a href="/album?a={{.Album.Id}}">{{.Album.Title}}</a>
            </div>
            {{end}}
        {{template "footer"}}
    </body>
</html>
{{end}}